<div class="user-details">
    <h1> Featured Projects </h1>
</div>
<div class="user-projects">
    <div class="images-left">
        <img alt="roostoo" src="{{ "/assets/img/roostoo.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
        <h3> Roostoo </h3>

        <p>Roostoo is a lifelike mock crypto trading simulator that allows practicing trading at no cost with real-time
            market data.We, a team of 3 core members, built and released the app on Android and iOS. The app was also on
            Product Hunt hunted by the #1 Product Hunter Chris Messina. Please try it out and leave us feedbacks！
            This is an on-going project. More features are coming soon.</p>
        <a class="project-link" href="https://www.roostoo.com">Check it out</a>
    </div>
</div>
<div class="user-projects">
    <div class="images-left">
        <img alt="roostoo" src="{{ "/assets/img/roostoo.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
        <h3> Roostoo </h3>

        <p>Roostoo is a lifelike mock crypto trading simulator that allows practicing trading at no cost with real-time
            market data.We, a team of 3 core members, built and released the app on Android and iOS. The app was also on
            Product Hunt hunted by the #1 Product Hunter Chris Messina. Please try it out and leave us feedbacks！
            This is an on-going project. More features are coming soon.</p>
        <a class="project-link" href="https://www.roostoo.com">Check it out</a>
    </div>
</div>